export TELEGRAM_BOT_TOKEN='my-bot-token'
export CHAT_ID='my-chat-uid'
export STOCK_SYMBOL='EUR=X'
export THRESHOLD=1  # 1% change
export INVOICE_AMOUNT_USD=1000
export DELTA=0.0021  # 0.21% delta for Fineco price calculations